.content {
  display: flex;
  gap: 30px;

  .left-content {
    .title {
      margin-bottom: 20px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      max-width: 1000px;

      .grid-item {
        display: flex;
        flex-direction: column;

        .dessert-image-container {
          position: relative;

          .dessert-image {
            width: 300px;
            margin-bottom: 20px;
            border-radius: 10px;
          }

          .add-cart-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75%;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 10px 30px;
            border-radius: 50px;
            border: 1px solid var(--rose-900);
            cursor: pointer;
            background: white;

            &:hover {
              opacity: 0.95;
            }

            i {
              color: var(--red);
              font-size: 1.2rem;
              margin-right: 10px;
            }

            span {
              font-family: "Poppins";
              font-weight: 600;
            }
          }

          .multi-cart-button {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 8px 30px;
            border: none;
            border-radius: 50px;
            background: var(--red);

            i {
              color: white;
              font-size: 1.5rem;
              cursor: pointer;

              &:hover {
                opacity: 0.9;
              }
            }

            span {
              color: white;
              font-family: "Poppins";
              font-weight: 600;
              font-size: 1rem;
            }
          }
        }

        .dessert-category {
          color: var(--rose-300);
        }

        .dessert-name {
          color: var(--rose-900);
        }

        .dessert-price {
          color: var(--red);
        }
      }
    }
  }

  .right-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: fit-content;
    position: sticky;
    top: 20px;

    .cart-title {
      color: var(--red);
      margin-bottom: 20px;
    }

    .empty-cart-image {
      width: 100%;
    }

    .empty-cart-text {
      color: var(--rose-500);
      text-align: center;
    }

    .cart-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      border-bottom: 1px solid var(--rose-100);

      .cart-item-left {
        .cart-item-name {
          color: var(--rose-900);
        }

        h4 {
          .cart-item-quantity {
            color: var(--red);
            margin-right: 5px;
          }

          .cart-item-price {
            color: var(--rose-300);
            margin-right: 5px;
          }

          .cart-item-total {
            color: var(--rose-500);
          }
        }
      }

      .cart-item-right .cart-item-delete {
        font-size: 1.5rem;
        color: var(--rose-300);
        cursor: pointer;
      }
    }

    .cart-total-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;

      .cart-total {
        color: var(--rose-900);
      }
    }

    #confirm-order {
      width: 100%;
      font-family: "Poppins";
      font-weight: 600;
      padding: 15px 30px;
      border-radius: 50px;
      background: var(--red);
      color: white;
      border: none;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }

    .message {
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      color: white;
      font-weight: 500;
      margin-top: 20px;

      &.success-message {
        background: var(--green);
      }
    }
  }
}
