<div class="content">
  <div class="left-content">
    <h2 class="title">Desserts</h2>

    <div class="grid">
      @for (dessert of desserts; track dessert.id) {
      <div class="grid-item">
        <div class="dessert-image-container">
          <img [src]="dessert.image.desktop" class="dessert-image" />
          @if (!getItemInCart(dessert.id)) {
          <button class="add-cart-button" (click)="addToCart(dessert.id)">
            <i class="bx bx-cart-plus"></i>
            <span>Add to Cart</span>
          </button>
          } @else {
          <button class="multi-cart-button">
            <i
              class="bx bx-minus-circle"
              (click)="removeFromCart(dessert.id)"
            ></i>
            <span>{{
              getItemInCart(dessert.id)
                ? getItemInCart(dessert.id)?.quantity
                : 0
            }}</span>
            <i class="bx bx-plus-circle" (click)="addToCart(dessert.id)"></i>
          </button>
          }
        </div>
        <h5 class="dessert-category">{{ dessert.category }}</h5>
        <h3 class="dessert-name">{{ dessert.name }}</h3>
        <h4 class="dessert-price">
          {{ dessert.price | currency : "CAD" : "symbol" : "1.2" }}
        </h4>
      </div>
      }
    </div>
  </div>

  <div class="right-content">
    <h2 class="cart-title">Your Cart ({{ getTotalItemsInCart() }})</h2>

    @if (cart.length === 0) {
    <img
      [src]="'./assets/images/illustration-empty-cart.svg'"
      class="empty-cart-image"
    />
    <p class="empty-cart-text">Your added items will appear here</p>
    }

    <!-- If cart not empty -->
    @if (cart.length > 0) {
    <!-- Loop through desserts in cart -->
    @for (dessert of cart; track dessert.itemId) {
    <div class="cart-item">
      <div class="cart-item-left">
        <h4 class="cart-item-name">{{ getItemInfo(dessert.itemId)!.name }}</h4>

        <h4>
          <span class="cart-item-quantity">{{ dessert.quantity }}x</span>
          <span class="cart-item-price"
            >&#64;
            {{
              getItemInfo(dessert.itemId)?.price
                | currency : "CAD" : "symbol" : "1.2"
            }}</span
          >
          <span class="cart-item-total">{{
            dessert.quantity * getItemInfo(dessert.itemId)!.price
              | currency : "CAD" : "symbol" : "1.2"
          }}</span>
        </h4>
      </div>

      <div class="cart-item-right">
        <i
          class="bx bx-x-circle cart-item-delete"
          (click)="removeCompletelyFromCart(dessert.itemId)"
        ></i>
      </div>
    </div>
    }

    <div class="cart-total-container">
      <h4>Total</h4>
      <h1 class="cart-total">
        {{ getCartTotal() | currency : "CAD" : "symbol" : "1.2" }}
      </h1>
    </div>

    <button id="confirm-order" (click)="onConfirmOrder()">Confirm Order</button>
    }
  </div>
</div>
