.content {
  .left-content {
    .title {
      margin-bottom: 20px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      max-width: 1000px;

      .grid-item {
        display: flex;
        flex-direction: column;

        .dessert-image-container {
          position: relative;

          .dessert-image {
            width: 300px;
            margin-bottom: 20px;
            border-radius: 10px;
          }

          .add-cart-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75%;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 10px 30px;
            border-radius: 50px;
            border: 1px solid var(--rose-900);
            cursor: pointer;

            i {
              color: var(--red);
              font-size: 1.2rem;
              margin-right: 10px;
            }
            
            span {
              font-family: 'Poppins';
              font-weight: 600;
            }
          }
        }

        .dessert-category {
          color: var(--rose-300);
        }

        .dessert-name {
          color: var(--rose-900);
        }

        .dessert-price {
          color: var(--red);
        }
      }
    }
  }

  .right-content {
  }
}
