<div class="content">
  <h2 class="title">Contact Us</h2>

  <div class="row row-1">
    <div class="field">
      <label>First Name <span>*</span></label>
      <input type="text" />
    </div>
    <div class="field">
      <label>Last Name <span>*</span></label>
      <input type="text" />
    </div>
  </div>

  <div class="row">
    <label>Email Address <span>*</span></label>
    <input type="text" />
  </div>

  <div class="row">
    <label>Query Type <span>*</span></label>
    <div class="row-3">
      <div class="radio-field">
        <input type="radio" id="general-inquiry" value="General Inquiry" />
        <label for="general-inquiry">General Inquiry</label>
      </div>
      <div class="radio-field">
        <input type="radio" id="support-request" value="Support Request" />
        <label for="support-request">Support Request</label>
      </div>
    </div>
  </div>

  <div class="row">
    <label>Message <span>*</span></label>
    <textarea rows="5"></textarea>
  </div>

  <div class="row row-5">
    <input type="checkbox" id="consent" />
    <label for="consent">I consent to being contacted by the team <span>*</span></label>
  </div>

  <button id="submit">Submit</button>
</div>
